@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

.bg-img1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("../public/img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Crimson {
  font-family: "Crimson Pro", serif;
}
.hex {
  background-image: linear-gradient(to right, #ff9933, #ffffff, #138808);
}
.logo {
  width: 40px;
  height: 40px;
  /* filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(348deg)
    brightness(101%) contrast(102%); */
}

.get-started__container {
  background-color: #51575f;
  padding: 0.6rem;
  border-radius: 0.7rem;
}
.get-started {
  background-color: #51575f;
  padding: 0.6rem;
  border-radius: 0.7rem;
}
.get-started__container span:hover {
  color: white;
}
.get-started__button {
  color: black;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}
.get-started__button:hover .services__icon {
  transform: translate(0.25rem);
  color: white;
}
.services__icon {
  font-size: 1rem;
  transition: 0.4s;
}

.iframe {
  filter: grayscale(1);
  contrast: (1.2);
  opacity: (0.4);
}

.service__img {
  width: 350px;
  height: 250px;
}

.btnSubmit {
  background-color: bg-indigo-500 !important;
}
/* TEST */
@media screen and (max-width: 1100px) {
  .bg-img1 {
    padding: 0;
    background-position: center;
    height: 533px;
  }
  .textP {
    /* font-family: "Inter", sans-serif; */
    font-size: 20px;
  }
}
